[2021-02-01 16:42] Aviortheking opened #4 "Multiple tag"
IDK why but on each of my websites the tag is appearing multiple time in the Head

_app file
[code]

[2021-02-01 18:46] 4lejandrito commented on #4
Hi @Aviortheking,

Do you mean it generates the same `<script ...>` tag several times in the same page? (I checked www.tcgdex.net but I can only see the tag once).

Could you please create a minimal repo in which you reproduce the issue?

Thanks!

[2021-02-07 00:35] Aviortheking commented on #4
Hey after more research I found out it was a bug from NextJS and not your lib !

Thanks for your awesome module :D

[2021-02-07 00:35] #4 closed

[2021-02-11 10:45] Aviortheking opened #5 "allow to add SRI to the script tag"
For SRI security it would be awesome if we could add the SRI or if it would be generated
https://infosec.mozilla.org/guidelines/web_security#subresource-integrity

Current one sha-384-Wxt0f9q5Z1p6pEiVEw/jTJreeVlAcC08vg5shuvm5LccbFFLpb0aTUc6RMUSjgS7 for my custom domain (stats.dzeio.com)

[2021-02-11 20:33] 4lejandrito commented on #5
Hi @Aviortheking,

Thanks for reporting this.

I think generating it would be quite hard. It would couple this library with a specific version of the file and render it useless for users in different versions of Plausible (I'm thinking self hosted).

I think the best I can do is to allow passing the integrity attribute so that you can set your own hash.

How does that sound?

[2021-02-12 13:17] Aviortheking commented on #5
it sounds perfect !

[2021-02-12 17:52] safinn opened #6 "Configurable variable used to check for production"
I see the script is only loaded in production and determined by `process.env.NODE_ENV`. I believe when hosting on Vercel and using their preview deployments, `NODE_ENV` is `production` but they provide system variables such as `VERCEL_ENV ` which can be used to determine `production` vs `preview` environments.

Maybe a prop can be provided to customise this?

[2021-02-12 20:45] #5 closed

[2021-02-12 20:45] #6 closed

[2021-02-12 20:47] 4lejandrito commented on #5
Fixed by https://github.com/4lejandrito/next-plausible/commit/4ffec4b3044a90e304cb6e5fe799b0d88211367d.

I just published `1.5.0` with support for the `integrity` attribute.

[code]

Thanks @Aviortheking!

[2021-02-12 20:48] 4lejandrito commented on #6
Fixed by https://github.com/4lejandrito/next-plausible/commit/b214b206ffb0cfc3724e9a4f5050674b9ac1368f.

I just published `1.5.0` with an extra `enabled` attribute that you can pass to override the `process.env.NODE_ENV === 'production'` condition.

[code]

Thanks @safinn!

[2021-02-13 00:34] Aviortheking opened #7 "missing attribute when using the SRI"
when using the SRI another attribute should be added `crossorigin="anonymous"` to make it not send cookies to the remote domain

[2021-02-13 08:17] 4lejandrito commented on #7
Sorry! Just published `1.5.1`. See https://github.com/4lejandrito/next-plausible/commit/9dbc2f276c2d4e7523840cbdb8983378ead672a2.

[2021-02-13 08:17] #7 closed

[2021-03-31 03:16] IGassmann opened #8 "Support outbound link click tracking"
Support outbound link click tracking as detailed in https://plausible.io/docs/outbound-link-click-tracking

[2021-04-03 08:38] 4lejandrito commented on #8
Hi @IGassmann,

Thanks for creating this issue. I will look into it in the next few days. You're more than welcome to send a PR if you want too.

[2021-04-05 20:07] #8 closed

[2021-04-07 02:40] dominikwilkowski opened #10 "Confirming docs and env var usage"
Hey there,

Loving Plausible and currently setting this up in our next site.
Our site is hosted on two different providers and both have the `process.env.NODE_ENV` enabled.
To make sure we track only the live site and not the staging site we introduced another env var called `NEXT_PUBLIC_LIVE_SITE`.

I did test this but want to make sure I'm not missing anything especially when it comes to SSR.
To

[2021-04-07 05:32] 4lejandrito commented on #10
Hi @dominikwilkowski,

I believe what you're doing is totally OK. I'll try to find some time to update the docs including that use case (feel free to send a PR yourself though).

Thanks!

[2021-04-07 05:45] dominikwilkowski commented on #10
I'm happy to submit a PR. I think my main point here is that the `_document.js` solution should be like the top reader example as it feels the most relevant to next? Thoughts?

[2021-04-07 05:59] 4lejandrito commented on #10
The issue I see with making it the most relevant is that for the simplest use case (just one page) it would encourage people to override the `_document.js` file which I personally consider quite annoying (unless you really need it, like in your case). In my own sites I always try to avoid using that file unless it is really needed.

I am happy to include a second use case inside the `Include the a

[2021-04-07 07:55] dominikwilkowski commented on #10
Right. I got you. I don't have strong opinions.
This is what my journey was and I believe is what many others likely go through as well:
We were with google analytics first. We wanted to move to something more sane so we picked Plausible. The ga implementation is referenced here and common to be applied site wide: https://github.com/vercel/next.js/tree/canary/examples/with-google-analytics

So wit

[2021-04-07 08:07] 4lejandrito commented on #10
Thanks for the explanation! It seems likely then that the most common use case is to add it to the `_document.js`.

If you feel like it, go ahead and submit a PR. Otherwise I will look into it in the next few days.

Thanks!

[2021-04-07 10:42] dominikwilkowski commented on #10
Ok PR up and and I also added a PR to nextjs with the Plausible integration. Would be good for you to look over: https://github.com/dominikwilkowski/next.js/tree/dom/plausible-example/examples/with-plausible (after you had a chance to look I'll submit the PR to next)

Let's hope this helps people use less of ga ;)

[2021-04-07 12:55] 4lejandrito commented on #10
Hi @dominikwilkowski,

https://github.com/dominikwilkowski/next.js/tree/dom/plausible-example/examples/with-plausible looks awesome! Please go forward with it.

I'll merge this PR after work.

Thanks a lot!

[2021-04-07 22:05] 4lejandrito commented on #10
Hi @dominikwilkowski,

Does this really work?

[code]

I've tested it locally and I can't see the script tag being rendered. I am afraid there might be a conflict with the original `<Head>` component from the `_document.js` file.

Do you have an example in which you made it work from `_document.js`?

[2021-04-07 23:44] dominikwilkowski commented on #10
This is entirely my fault. You're right this doesn't work because the `_document.js` file is the root for the `<Head />`.
I had it first in the `_app.js` file where I tested it and then I got blinded by the google analytics example in next and skipped testing all together.
Adding it into the `_app.js` file works now.

[2021-04-08 06:56] #10 closed

[2021-04-25 03:33] krimpenrik opened #12 "No way to use custom API host?"

[2021-04-25 03:48] #12 closed

[2021-06-09 14:54] MariusMeiners opened #13 "Don't overwrite the enabled variable"
https://github.com/4lejandrito/next-plausible/blob/b94943ab2d1ada32b437f70f800132d880a618f2/index.tsx#L16

you are currently overwriting whatever the user is providing as the enabled argument - this stops me from actually using the argument.

[2021-06-09 14:58] #13 closed

[2021-06-17 19:48] stophecom opened #14 "Support for proxy"
Since custom domains are deprecated now:
https://plausible.io/docs/proxy/introduction

[2021-06-17 20:58] stophecom commented on #14
Actually I could make it work using custom domain settings and rewrite rules (documented here https://plausible.io/docs/proxy/introduction):

The following example is with exclusion settings:

[code]

[code]

On a side note, next 11 is out :)
![image](https://user-images.githubusercontent.com/1888817/122470103-fae4cf80-cfbd-11eb-82b3-c4ef2ca46133.png)

[2021-06-18 06:23] 4lejandrito commented on #14
Hi @stophecom,

Thanks a lot for reporting this.

I've just published next-plausible@1.6.2 with support for next@11.

I'll look into the proxy stuff soon.

[2021-06-19 00:38] 4lejandrito commented on #14
Hi @stophecom,

I've been working on a way to proxy the script with minimal hassle.

Please check the preliminary docs here: https://github.com/4lejandrito/next-plausible/tree/proxy#proxy-the-analytics-script.

You can try it out now by installing the beta version `next-plausible@1.7.0-beta.6` and wrapping your next config like this:

**next.config.js:**
[code]

Then you just need to use the `<Pla

[2021-06-20 18:58] stophecom commented on #14
Hi @4lejandrito, awesome, thanks for the update.

I've tested beta version and deployed to production. Works fine!

Thanks

[2021-06-20 22:33] 4lejandrito commented on #14
Published as `next-plausible@1.7.0`.

Thanks!

[2021-06-20 22:33] #14 closed

[2021-07-06 10:53] MathieuLoutre opened #15 "Double Pageviews"
I've just set this up on a website and I'm seeing double pageviews. I've set it up in `_app.js` as recommended (exactly the same code, except for the domain).

Even in local, when I run with `npm start` I see 2 "event ignored" logs in the console. Is this the expected behaviour or is there something wrong with my setup?

[2021-07-06 12:00] 4lejandrito commented on #15
Hi @MathieuLoutre!

Thanks for reporting this. I have tested this and I can't reproduce it. I have tested 2 websites and also run it locally with [the minimal tests I have on the repo](https://github.com/4lejandrito/next-plausible/tree/master/test/app) and I just get 1 event.

It would be very helpful if you could link to a repo in which the issue is reproduced so that I can download it and invest

[2021-07-06 14:59] MathieuLoutre commented on #15
Thanks for such a quick reply @4lejandrito and taking the time to test. I felt it wasn't quite right!

Unfortunately I don't have a repo I can share (yet). However, in the process of creating a reduced test case I noticed that the problem persisted even on the smallest of apps. So I updated Next.js and now the problem seems to have disappeared (the version was `10.0.1`). I'm now on the latest vers

[2021-07-07 13:22] 4lejandrito commented on #15
I tried with `next@10.0.1` and could not reproduce it either. Can you share your reduced text case just in case?

I'll close it anyway since it works with next@11.

[2021-07-07 13:22] #15 closed

[2021-07-08 21:40] MathieuLoutre commented on #15
I can't seem to be able to reproduce it anymore, I wonder if it was a weird dependency thing that only existed in my cached modules. Thanks for such a useful library :)

[2021-07-11 14:06] jobsort opened #16 "How to specify data-api on the Plausible script tag via next-plausible?"
Per [Plausible documentation](https://plausible.io/docs/proxy/guides/cloudflare#step-4-optional-run-proxy-as-a-subdirectory) it seems you can specify the `data-api` and `src` on the script to use custom paths. Is that possible in `next-plausible`? This would help statically generated web sites that use `npm run export` for Nextjs. Thanks

[2021-07-11 15:47] #16 closed

[2021-07-11 15:50] 4lejandrito commented on #16
There was no way. I just added the `api` prop:

Fixed by f885e845e3dd8ee4782412a3c9002204607ab864.

I just published `1.8.0` with an extra `api` attribute that you can pass to override the `data-api` attribute.

[code]

Thanks @jobsort!

[2021-07-11 15:51] 4lejandrito commented on #16
Please reopen if you still can't achieve what you wanted.

[2021-07-11 16:09] jobsort commented on #16
@4lejandrito is there a way to force the `src` property as well to be something like `/custom/js/script.js`?

[2021-07-11 16:41] 4lejandrito commented on #16
There is no easy way to do this. Only cases when you self host your Plausible instance were considered.

I've added a way to set whatever you want as `src`:

[code]

I just published `1.9.0` with that change.

[code]

I guess that covers your use case.

Thanks @jobsort!

[2021-07-11 16:55] jobsort commented on #16
Thanks a lot @4lejandrito for making these changes. I can now use your package for statically generated Next websites!

[2021-07-11 17:11] 4lejandrito commented on #16
Hi!

I've been thinking about this and I've moved to a more generic way of overriding script props:

[code]

This way users will be able to override any of the props of the `<script>` tag.

I've published it as `2.0.0`:

[code]

Please let me know what you think.

Thanks @jobsort!

[2021-07-22 04:43] dominikwilkowski opened #17 "Is there a changelog?"
That are the changed from 1 to 2? Would be good to know for upgrading.
Not super easy to scrub through https://github.com/4lejandrito/next-plausible/commit/9cf7c2135729e9b40cc5521f0dbd513f06d6f68c

[2021-07-23 06:24] 4lejandrito commented on #17
Hi @dominikwilkowski,

There is no changelog at the moment. The breaking changes are just those in that commit (replacing the `src` and `api` props by the `scriptProps` one). I relased 1.9 and 2.0 withing a few minutes so there should have been no impact for real users.

However I think having a changelog is a good idea and I'll write one soon. I'll leave this issue open until that happens.

Thank

[2021-07-31 07:32] paolotiu opened #18 "Support custom domains for proxy"
Hey! First of all, I want to thank you for writing this library 😄 .

Right now, it seems that `withPlausibleProxy` hard codes the destination url. I'm trying to use this with a custom domain since I self-hosted. It would be nice to be able to specify a custom domain. I could give it a shot if you want!

Thank you!

[2021-07-31 09:46] 4lejandrito commented on #18
Go ahead!

[2021-08-01 10:25] paolotiu commented on #18
Sure! I'll try to find the time within the week 😁

[2021-08-10 14:55] 4lejandrito commented on #18
Fixed. See https://github.com/4lejandrito/next-plausible/pull/19#issuecomment-896099361.

[2021-08-10 14:55] #18 closed

[2021-08-10 16:36] 4lejandrito commented on #17
Hi!

I've added an initial changelog autogenerated by [Github-Changelog-Generator](https://github.com/github-changelog-generator/Github-Changelog-Generator).

See https://github.com/4lejandrito/next-plausible/blob/master/CHANGELOG.md

I'll keep improving it over time. Do you consider this can be closed now?

Thanks!

[2021-08-10 21:34] dominikwilkowski commented on #17
Sure. Thanks.

[2021-08-10 21:34] #17 closed

[2021-08-12 13:37] paolotiu opened #20 "scriptname is index.js instead of plausible.js for selfHosted"
When using a self-host version of plausible the remote script name should still be `plausible.js` instead of `index.js`.

For example:
[code]
I'm not sure if this is intended.

Thank you!

[2021-08-12 16:16] 4lejandrito commented on #20
You're right, self hosted instances must use `plausible.js`. I got confused by this old conversation https://github.com/4lejandrito/next-plausible/pull/3. When using the old customDomain DNS hack we had to use `index.js` to avoid content blockers detecting the script by its name. But with the new proxy functionality we must use the real name (`plausible`).

I've fixed it in https://github.com/4lej

[2021-08-12 16:29] paolotiu commented on #20
It works now! Thank you so much

[2021-08-23 15:21] thacoon opened #21 "Proxy /api/event routes using withPlausibleProxy for custom domains"
Using `withPlausibleProxy` the URL rewrite rules are applied. Additionally a custom domain can be set. However, I think it would also make sense to rewrite the `POST /api/event` requests. As the script can be loaded but all plausible events are still being blocked.

[code]

[code]

This will proxy the GET request of fetching the `script.js` but e.g. the event POST requests are going to `http://pla

[2021-08-23 15:38] 4lejandrito commented on #21
Hi @thacoon,

Thanks for reporting. I'll look into this as soon as I can.

[2021-09-09 13:35] dmihal commented on #21
I can confirm, 2.1.2-beta.0 still doesn't proxy the event calls. Here's my config:

[code]

And:

[code]

[2021-09-09 14:12] dmihal commented on #21
I think I figured out the issue, the "latest" docker image is about 5 months old, so the script is outdated. I updated my plausible image to "stable", and things are working now.

[2021-09-17 14:58] 4lejandrito commented on #21
As it seems to be fine, I just published `next-plausible@2.1.2`. I'll close this for noe.

@thacoon please reopen if you still see the issue.

[2021-09-20 09:40] thacoon commented on #21
@4lejandrito thanks for your time, I have installed  `next-plausible@2.1.2` and I should be running the latest version of `plausible/analytics:latest`. My `next.config.js` and `_app.js` are listed below.

[code]

[code]

@dmihal  this is the script that is currently served by my plausible instance:
`!function(r,i){"use strict";var e,o=r.location,s=r.document,t=s.querySelector('[src*="'+i+'"]'),l=t

[2021-09-20 17:45] 4lejandrito commented on #21
Hi @thacoon,

Does that mean everything is OK? Or are you still experiencing issues?

[2021-09-21 13:26] thacoon commented on #21
I am still experiencing this issue. If it works for @dmihal I am wondering what is causing this behavior on my end.

[2021-09-21 13:50] 4lejandrito commented on #21
Reopening then. I’ll try to investigate when I have some time.

[2021-09-21 20:24] mutewinter opened #24 "Events Tracked Immediately with `useEffect` Fail to Send"
I'm was to track 404 page URLs using [Plausible's suggested approach](https://plausible.io/docs/404-error-pages-tracking). I modified this for Next.js as follows:

[code]

However, this fails to send the event when the page is loaded directly (if the user arrives at the 404 page via client side routing, it works fine). My theory is that Plausible isn't ready yet, so the event is ignored.

## Possi

[2021-09-22 06:14] #24 closed

[2021-09-22 06:15] 4lejandrito commented on #24
Hi @mutewinter,

Thanks for reporting this.

I fixed it in https://github.com/4lejandrito/next-plausible/commit/7f261e9e1abe864a11d8100ffb2a555ec4a5f1c7 and published as `next-plausible@2.1.3`.

Thanks again!

[2021-09-23 12:41] mutewinter commented on #24
Fixed! Thanks for the incredibly fast update. Really appreciate how well written this library is, especially the TypeScript event types.

[2021-09-24 06:56] 4lejandrito commented on #24
Thanks for your words @mutewinter!

[2021-10-20 16:20] JamiesWhiteShirt opened #25 "Types are incompatible with Next@11"
Using `next@11.1.2`, `next-plausible@2.1.3` and `typescript@4.4.4`, the following happens during build:
[code]

This is caused by these changes to Next.js: https://github.com/vercel/next.js/pull/26756

With `next@11`, the above import can simply be replaced with `import { NextConfig } from 'next'`. AFAIK that would only be compatible with Next@11, so the peer dependency would have to be narrowed t

[2021-10-21 04:55] #25 closed, assigned to nobody

[2021-10-21 15:43] baptisteArno opened #26 "No requests made to self hosted instance"
Thank you for this cool Next.js adaptation 👍

I tried to configure it globally on my `_app.tsx` file:

[code]

And then my `next.config.js`:

[code]

But it doesn't fire anything in prod, no error, no request, nothing. Am I missing something? How can I debug this?

Next.js version: 11.1.0
Package version: 3.0.0

[2021-10-28 18:46] michaelwschultz opened #27 "Ability to track localhost traffic"
Being able to track localhost traffic for testing is super helpful but I'm not seeing it as an option here.

Plausible has a way to do it using an extension `plausible.local.js`. Anyway this could be added as a provider prop?

[2021-11-02 00:41] michaelwschultz commented on #27
Alright, that should do it @4lejandrito. Sorry for the delay.

[2021-11-02 13:42] seeARMS commented on #21
Just adding in that I'm having a similar issue. I decided not to use `withPlausibleProxy`, and using the Plausible provider with Next rewrites directly (similar to how you created the withPlausibelProxy).

The script.js file is proxy'd correctly, but the actual /api/event calls are not.

Here's my _app file:

[code]

And my `next.config.js`:

[code]
The script is correctly retrieved from /js/scrip

[2021-11-03 05:47] 4lejandrito commented on #27
Fixed in `next-plausible@3.1.0`.

The new props (`trackLocalhost` & manualPageviews`) are described in [the docs](https://github.com/4lejandrito/next-plausible#plausibleprovider-props).

Thanks @michaelwschultz!

[2021-11-03 05:47] #27 closed

[2021-11-03 13:05] wong2 opened #30 "Support proxy to plausible.io/api/event with http proxy?"
Hi, the connection from my data center to plausible.io/api/event is not very reliable, there are lots of timeout errors for it. So I'm thinking if we can set http proxy for it to speed it up.

[2021-11-03 16:34] 4lejandrito commented on #30
Hi @wong2,

I believe your issue is with the actual plausible server. This is just a library for nextjs. You might want to report this in https://github.com/plausible/analytics.

Please reopen if necessary.

[2021-11-04 03:33] wong2 commented on #30
No, it's not with the plausible server. If I understand it correctly, `withPlausibleProxy` will setup a proxy to the actual plausible server using next rewrites.

[2021-11-04 06:35] 4lejandrito commented on #30
Hi! So what do you mean by setting up an http proxy?

[2021-11-04 16:24] seeARMS commented on #21
I fixed the above issue in quite a hacky way: I copied the JS script, pasted it into the public dir in my NextJS deploy, changed the hardcoded https://analytics.papyrus.so to https://papyrus.so, and removed the `/js/script.js` rewrite above and it's now working as intended.

[2021-11-05 15:13] 4lejandrito commented on #26
Hi @baptisteArno!

I believe you don't see the event because the domain is fake. Do you see the event request on the dev tools? Something like this:

<img width="757" alt="Screenshot 2021-11-05 at 16 13 29" src="https://user-images.githubusercontent.com/1937354/140533675-f58ff036-2553-4db4-b26c-386bd5355891.png">

[2021-11-05 15:30] 4lejandrito commented on #21
Hi @thacoon that script does not process the `data-api` attribute as @seeARMS said. It seems that the docker image does not behave in the same way as plausible.io. I'll investigate and see what can be done.

[2021-11-05 15:57] 4lejandrito commented on #21
Using the latest version of the docker image as of today I receive the right script, processing the data-api attribute correctly. Maybe you need to clear your docker cache to actually get the latest version?

[2021-11-05 16:03] 4lejandrito commented on #26
Oh I think I know what's going on!

When you have a self hosted instance you mus set the `customDomain` property to the `withPlauisbleProxy` function so that the rewrites can use it:

[code]

Please let me know if that works.

[2021-11-07 23:42] thacoon commented on #21
@4lejandrito I also receive the right script now and proxying works on my site, thanks for your time +1

[2021-11-07 23:42] #21 closed

[2021-11-08 03:48] wong2 commented on #30
I mean proxy the request from my server to plausible.io server

browser -> my next server -> proxy -> plausible.io

[2021-11-25 16:27] xLarry commented on #26
@4lejandrito I can confirm that this fixes the issue for me.

It's a shame I didn't see this issue before spending an hour trying to fix it by myself 😄

[2021-11-25 17:25] 4lejandrito commented on #26
Good to know! Thanks! I'm closing this.

[2021-11-25 17:25] #26 closed

[2021-12-12 23:48] JamesSingleton opened #32 "withPlausibleProxy causes next/image requests to CDNs like Sanity.io 400"
I was using `withPlausibleProxy` when all of a sudden in production my images disappeared.

## Steps to Reproduce

1. Add `withPlausibleProxy` to your `next.config.js` file
2. Have `next/image` components where the source is not internal aka `/public`
3. Run `yarn build && yarn start`
4. Go to localhost:3000 and observe images not loading
5. Open network tab in your browser console and notice requ

[2021-12-14 07:10] 4lejandrito commented on #32
Hi! I just [wrote a test to verify this](https://github.com/4lejandrito/next-plausible/commit/83ca6ae0c13dc2f5e1f438ffbc744993437432bd) and it works fine. I also tested it locally with no issues.

Can you please share your `next.config.js`?

Thanks!

[2021-12-14 21:30] JamesSingleton commented on #32
@4lejandrito thanks for looking into this, here is my `next.config.js`

[code]

[2021-12-16 07:35] 4lejandrito commented on #32
Hi! I tried with your configuration and it works. Can you show an example of how you render the image? I want to see how the URL looks like in your `<img ... />` code.

[2021-12-17 00:27] JamesSingleton commented on #32
Sure, here is a link https://redshirt-sports-git-chore-plausible-proxy-jamesrsingleton.vercel.app with that `next.config.js`. If you go to https://www.redshirtsports.xyz you will see the difference.

[2021-12-17 16:05] 4lejandrito commented on #32
Sorry I meant the react source code. I want to see how you use `next/image`. I'd like to reproduce the exact same use case.

By the way... does it break locally too? or only on vercel?

[2021-12-17 16:33] JamesSingleton commented on #32
Oh! My bad,

[code]
And yes it breaks locally and on Vercel.

[2021-12-17 17:03] 4lejandrito commented on #32
I am afraid I have no clue what's going on, I can't reproduce it locally. Things that come to my mind:

1. Are you using the latest version of `next-plausible`?
2. Is there any chance I can get access to your source code so that I can reproduce the issue locally and investigate?

[2021-12-17 17:27] JamesSingleton commented on #32
I am using `next-plausble@^3.1.4` with `next@^12.0.7`.

[2021-12-17 17:58] 4lejandrito commented on #32
I tried with that version of next and worked fine. It would be awesome if you could point me to the smallest repo you can make in which the issue is reproduced without leaking your source code.

[2021-12-17 18:18] JamesSingleton commented on #32
So I created https://github.com/JamesSingleton/next-plausible-test. I recorded a video but it is too big for GitHub... But ran into a weird issue where running with `withPlausibleProxy` caused Next/Image not to recognize the domain in `image`... but running without it works just fine.

<img width="1269" alt="Screen Shot 2021-12-17 at 11 17 30 AM" src="https://user-images.githubusercontent.com/2100

[2021-12-17 18:39] 4lejandrito commented on #32
Oh I see what's happening now! You're using `withPlausibleProxy` wrong:

You're using it like:
[code]
but you should be using it like:
[code]
`withPlausibleProxy` is a function that receives its own parameters (which is fine to leave empty) and then returns a function that you can use to pass the nextjs config.

Please let me know if that fixes your issue.

Thanks!

[2021-12-17 19:53] JamesSingleton commented on #32
🤦🏼 I completely missed that, will try in a little and confirm 😅

[2021-12-17 20:22] JamesSingleton commented on #32
Looks like that fixes it... There should be some better error handling around that in my opinion if there even could be... Maybe a future update.

[2021-12-17 20:26] 4lejandrito commented on #32
I’ll think about it and try to find a way to warn users if they do something similar.

I’ll close this for now.

Thanks a lot for reporting!

[2021-12-17 20:26] #32 closed

[2021-12-26 21:00] digitalbase commented on #30
This also helps with working around 3th party/ad-blockers as tracking calls now go to the main domain.

[2021-12-27 03:36] wong2 commented on #30
@digitalbase I think we're talking about different problems? Your issue can be solved with `withPlausibleProxy`

[2021-12-27 08:12] 4lejandrito commented on #30
Hi @digitalbase, I believe @wong2 is right, your use case is covered here https://github.com/4lejandrito/next-plausible#proxy-the-analytics-script.

[2021-12-27 08:13] 4lejandrito commented on #30
@wong2, sorry for the leaving this open so long. I still struggle to understand what you need. Is it a way to configure a different URL to a proxy?

[2021-12-27 08:29] digitalbase commented on #30
@4lejandrito right. I looked over that one. Last time i checked Plausible (1 year ago) I believe that option was not there. Thanks!

Do you know how the ip/country is passed in that case? Because the NextJs rewrites (https://nextjs.org/docs/api-reference/next.config.js/rewrites) would make the request come from the origin/proxy instead of the visitor

[2021-12-27 08:38] 4lejandrito commented on #30
Hi @digitalbase, that works fine, I have it set up in some websites and I get proper analytics:

<img width="537" alt="Screenshot 2021-12-27 at 09 38 23" src="https://user-images.githubusercontent.com/1937354/147452872-93e2a687-7711-4960-8708-cde76bba203d.png">

I am not sure how it works but it does 😄.

[2022-01-11 22:59] baristaGeek opened #33 "Is tracking localhost real-time?"
I have the trackLocalhost prop turned on. I'm testing if I correctly integrated next-plausible, but I'm not 100% sure I did.

Do we know if tracking for localhost is in real-time or not?

[2022-01-12 09:01] 4lejandrito commented on #33
Hi! I suspect you're running in development mode, therefore the script is disabled. Try enabling it as well as setting `trackLocalhost`:

[code]

With that I see the events being sent:

<img width="604" alt="Screenshot 2022-01-12 at 10 00 41" src="https://user-images.githubusercontent.com/1937354/149096497-a423198b-3044-4445-b7ab-fc3ef58de7cd.png">

Please let me know if it works.

Thanks!

[2022-01-12 17:15] baristaGeek commented on #33
It works! Ty very much

[2022-01-12 17:15] #33 closed

[2022-02-18 13:57] devrsi0n opened #36 "Script usage warning when migrating to next@12.1"
When I migrate [chirpy](https://github.com/devrsi0n/chirpy) to next@12.1, there is a warning about script usage with next-plausible.

<img width="669" alt="image" src="https://user-images.githubusercontent.com/7880675/154695758-e9770c90-d209-4a22-abfe-5e58e8b797e9.png">
<img width="1128" alt="image" src="https://user-images.githubusercontent.com/7880675/154695860-0c21142f-68ef-4fe3-8298-0f8f0264a9

[2022-02-18 13:59] devrsi0n commented on #36
It looks like we did use [`<script>` in `head`](https://github.com/4lejandrito/next-plausible/blob/83ca6ae0c13dc2f5e1f438ffbc744993437432bd/index.tsx#L122)

[2022-02-18 14:03] 4lejandrito commented on #36
Hi @devrsi0n,

I noticed this morning and fixed it in https://github.com/4lejandrito/next-plausible/pull/35. The problem is that there is a bug in nextjs (https://github.com/vercel/next.js/issues/33686) that breaks the expected behaviour.

[2022-02-18 14:08] devrsi0n commented on #36
@4lejandrito Thanks for the quick response, let's hold it until next.js fixes it.

[2022-02-21 20:48] 4lejandrito commented on #36
In the meantime I've published `next-plausible@3.1.5` with https://github.com/4lejandrito/next-plausible/commit/db666f59ab01100d4d1d99e082fabc05c3303267 to at least avoid the warning when running `next dev`.

[2022-02-22 00:07] devrsi0n commented on #36
Thanks, that's helpful!

[2022-03-11 13:46] Merott opened #38 "Wrap usePlausible in useCallback"
`usePlausible` returns a new function every time, which makes it unsuitable to use in the dependency array of other react hooks.

For now, I'm working around it with a custom wrapper, but it's not ideal:

[code]

[2022-03-14 04:22] #38 closed

[2022-03-14 04:22] 4lejandrito commented on #38
Thanks a lot for reporting this @Merott. Fixed in https://github.com/4lejandrito/next-plausible/pull/39.

[2022-03-14 04:30] 4lejandrito commented on #38
Published as `next-plausible@3.1.6`.

[2022-03-14 12:35] Merott commented on #38
Nice! Thanks for taking care of it so quickly! 👍🏻

[2022-03-27 10:27] garritfra opened #40 "Inject script using `next/script`"
Starting with Next.js v11, Vercel recommends to inject scripts using [`next/script`](https://nextjs.org/docs/api-reference/next/script) as opposed to using a `<script />` tag inside of `next/head`. See deprecation warning at the bottom of [the next/head docs](https://nextjs.org/docs/api-reference/next/head).

If you agree, I'm happy to open a PR addressing this.

[2022-03-27 10:29] garritfra commented on #40
Whoops, I just noticed there is already an open PR for this. Closing this. :)

[2022-03-27 10:31] #40 closed

[2022-03-27 14:07] 4lejandrito commented on #40
Thanks anyway @garritfra! I am waiting for nextjs to fix an issue until I can merge the pull request.

[2022-03-28 08:56] garritfra opened #42 "Support for `next@canary`"
I just wanted to open a bug report for Next.js, and their issue asks if the bug is reproducible in their canary release. Unfortunately, Only Next.js 11 and 12 are listed as a peer dependency of this package, so using `canary` leads to a "conflicting peer dependency" error.

AFAIK there are ways to "ignore" this error, but maybe it's a good idea allow future releases of next as well. What do you th

[2022-04-05 05:10] kristjanmar opened #43 "Proxying causes the "event" request to redirect when trailingSlash: true"
I'm setting up Plausible on my NextJS site (using Vercel).

Using the default settings in next.config.js to set up the proxy:

[code]

When visiting a page on my site, the page request to /api/event gets 308 redirected from /api/event to /api/event/ because I have "trailingSlash: true" in my next.config.js.

See screenshot:

![Screenshot_49](https://user-images.githubusercontent.com/22234692/16168

[2022-04-05 05:31] kristjanmar commented on #43
Maybe a "trailingSlash: true" option in the PlausibleProxyOptions would be the simplest way to account for this. I'm sure a lot of NextJS users have the trailingSlash option enabled.

https://nextjs.org/docs/api-reference/next.config.js/trailing-slash

[2022-04-05 15:23] #43 closed

[2022-04-05 15:25] 4lejandrito commented on #43
By the way, you don't have to do anything for this to work. It will automatically pick up the `trailingSlash` option from `nextConfig`.

[2022-04-06 06:05] kristjanmar commented on #43
Yes, it is working! Thanks for fixing this so quickly.

[2022-05-13 16:05] alvarlagerlof opened #45 "Disable console logs"
I am getting a bunch of `WARNING Ignoring Event: localhost` that end up showing up in my build due to my setup. Coud `PlausibleProvider` have some kind of prop to disable logging?

[2022-05-14 17:21] 4lejandrito commented on #45
Hi @alvarlagerlof,

That's because you are including the script in development mode. I don't think there is a way to tell the plausible script to disable logging apart from disabling it (which happens by default in development mode). You can enable the 'trackLocalhost' prop to get rid of the warning (but the events will be sent to the server) as described in [this answer](https://github.com/4lejan

[2022-05-14 17:25] 4lejandrito commented on #30
I am closing this since it does not seem to be a problem anymore. Please reopen if necessary.

[2022-05-14 17:25] #30 closed

[2022-05-14 18:16] alvarlagerlof commented on #45
Right, didn't realize it was their script doing that. Tracking localhost would make the stats off so not going to do that.

[2022-06-02 16:02] 4lejandrito commented on #45
Hi @alvarlagerlof,

Sorry for the late reply.

I don't know of a way to disable this on localhost. I don't know if nextjs exposes some kind of config variable with the domain. If that were the case you could pass the `enabled` property to `PlausibleProvider` checking that. But again, I am not sure that's possible.

[2022-06-02 16:15] alvarlagerlof commented on #45
I see. It's okay. Just a minor nitpick.

[2022-06-02 16:15] #45 closed

[2022-06-07 11:18] #36 closed

[2022-06-20 10:40] yoan34 opened #47 "can't see the script event in localhost with a customDomain"
Hello,
I'm trying to integrate plausible into a site, however I don't see the file event (script) in localhost. Here is my config:
In **_app.js:**
[code]
In **next.config.js:**
[code]
I also tried with **enabled** true/false and **trackLocalhost** true/false.

[2022-06-20 17:57] 4lejandrito commented on #47
Hi!

I tried with your configuration and it worked (using a valid domain name).

Do you get any errors on the browsers's console?

It'd be awesome if you could send me a minimal repo that reproduces the issue.

Thanks!

[2022-06-23 03:00] AlecSchneider opened #48 "Redirects in _middleware.ts not tracked"
I basically have some routes set up in my `_middleware.ts` that will redirect to a different url on my website / sometimes just send people external e.g. my.url/discord will directly redirect you to discord. It looks like these "pageviews" are currently not tracked. Just wanted to check if I configured something wrong / if there is a way to do this? Maybe custom events?

basically using:
`return N

[2022-06-23 10:42] yoan34 commented on #47
Hi, I can't see the script in local dev but it work in production, so i close the issue! Thx

[2022-06-23 10:42] #47 closed

[2022-06-23 22:06] 4lejandrito commented on #48
Hi @AlecSchneider,

The plausible script is loaded client side, in the browser. Those redirects are being performed by the server, that's why they're not being tracked.

Plausible has [an api to track custom events](https://plausible.io/docs/events-api) from different sources (including server side tracking). For now `next-plausible` does not include support for it, but it's on my todo list. In th

[2022-06-23 22:30] AlecSchneider commented on #48
Thanks for the quick response. Thanks again for all the great work you're doing here :)

[2022-06-25 21:14] AlecSchneider commented on #48
@4lejandrito, did exactly that:
`async function plausiblePageView(req: NextRequest) {
  fetch("https://plausible.io/api/event", {
    method: "POST",
    headers: {
      "User-Agent": req.headers.get("User-Agent") ?? "",
      "X-Forwarded-For":
        req.headers.get("X-Forwarded-For") ?? req.ip ?? "127.0.0.1",
      "Content-Type": "application/json",
    },
    body: `{"name":"pageview","url"

[2022-06-28 13:09] #48 closed

[2022-07-29 11:20] wong2 opened #49 "Usage with multiple domains for the same application"
Hi, I have an application which is accessible with two domains: domain1.com, domain2.com. (The response is totally identical, just different domains).

How should I set the `domain` field? Should I use the `location.hostname`?

[2022-08-17 18:24] sambP opened #50 "utm support missing"
Utm tracking does not work for us currently. Is it not supported yet, or did we something wrong?

[2022-08-20 19:27] JamesSingleton commented on #50
It works for me just fine are you doing `?utm_campaign=some-campaign` to the URL?

<img width="535" alt="Screen Shot 2022-08-20 at 12 27 03 PM" src="https://user-images.githubusercontent.com/21000200/185763228-9060bb8f-3733-4bee-9aaa-7a8ba9c90bca.png">

[2022-08-21 16:44] sambP commented on #50
Yeah, looks fine. Sorry, now idea what we did wrong...

[2022-08-21 16:44] #50 closed

[2022-08-21 20:30] AugusDogus commented on #26
This also took me about an hour trying to fix things before I found this issue and realized I needed to add `customDomain` to the `withPlausibleProxy` function in the `next.config.js`. May I recommend that a section be added in the readme to clarify this?

[2022-08-22 07:10] tim-dewit opened #52 "Documentation is incorrect for withPlausibleProxy subdirectory option"
The documentation specifies that the below snippet would result in the script being loaded from `/js/yoursubdirectory/scriptName.js`

[code]

In reality it loads the script from `/yoursubdirectory/js/scriptName.js`

[2022-08-22 07:27] 4lejandrito commented on #50
Thanks for replying @JamesSingleton!

[2022-08-22 07:28] 4lejandrito commented on #26
I'll add it when I have some time. Feel free to send a PR!

[2022-08-26 05:23] #52 closed

[2022-08-26 05:23] 4lejandrito commented on #52
Thank you!

[2022-08-26 05:25] 4lejandrito commented on #49
Hi @wong2!

I haven't tried that use case, but I believe yes, you should extract the domain from the current URL. Have you tried?

[2022-08-26 12:01] BigglesZX opened #54 "Proxy rewrite for API POST request doesn't work on Netlify"
Thanks for this helpful library!

This is not a bug in `next-plausible`, but just noting for anyone coming across this issue in the future that currently if you're using the `withPlausibleProxy` function to wrap your Next.js config and proxy the Plausible script and API calls, the latter will fail with a `405: Method Not Allowed` error when using Netlify. This is because Netlify intercepts POST re

[2022-08-26 12:01] #54 closed

[2022-08-26 13:09] 4lejandrito commented on #54
Hi @BigglesZX,

Thanks so much for this. Do you think is worth to add this to the README? You can send a pull request if you want.

[2022-08-26 13:43] BigglesZX commented on #54
Hey @4lejandrito, no worries. I've opened a ticket with Netlify to try to confirm that my understanding of the issue is correct. If they get back to me with confirmation I'll file a PR for you – just want to make sure I'm not doing something stupid.

[2022-08-30 13:08] 4lejandrito opened #56 "Usage with proxy and script.file-downloads.js"
### Discussed in https://github.com/4lejandrito/next-plausible/discussions/55

<div type='discussions-op-text'>

<sup>Originally posted by **TobiasMelen** August 30, 2022</sup>
Hi,

We're trying to use `withPlausibleProxy` but using `script.file-downloads.js` instead of `scripts.js` to track file-downloads as described [here](https://plausible.io/docs/file-downloads-tracking). I've tried changing

[2022-08-30 22:27] 4lejandrito commented on #56
Published as `next-plausible@3.4.0`.

[2022-09-04 08:45] nickbiever opened #60 "Vercel script/js 404"
Hi, I have troubles to get next-plausible to work with Vercel. When I deploy to Vercel and go to my site there will be no visitors showing up in Plausible. If I look in the console I got an net::ERR_ABORTED 404 error on /js/script.js. When I test it locally with `trackLocalhost` it works fine. Does anybody know what I'm doing wrong?

**_app.js**
[code]

**next.config.js**
[code]

[2022-09-04 16:26] 4lejandrito commented on #60
Sound similar to https://github.com/4lejandrito/next-plausible/discussions/53.

[2022-09-04 17:14] 4lejandrito commented on #60
Just in case... have you tried removing the trailing slash on your custom domain?

[2022-09-04 17:56] nickbiever commented on #60
@4lejandrito it was the trailing slash, I feel stupid. Thank you for your help.

[2022-09-04 17:56] #60 closed

[2022-09-11 18:57] tim-dewit opened #61 "Can't load Plausible script when using Next `basePath` config"
When the Next config option `basePath` is set we can not load the Plausible script.
Consider the following configuration in `next.config.js`:

[code]

The script will be loaded from `/js/script.local.js` instead of `/test/js/script.local.js`.

If we set the `subdirectory` option to `test`, next-plausible will try to load the script from `/test/js/script.local.js` but the script will be available a

[2022-09-12 07:00] #61 closed

[2022-09-12 07:00] 4lejandrito commented on #61
Fixed and published as `next-plausible@3.6.0`. Please reopen if it doesn't work.

Thanks @tim-dewit!

[2022-09-12 10:25] tim-dewit commented on #61
Great work 🎉
Now the script loads perfectly.

However, the proxy doesn't account for the basePath either.
Consider this configuration:
[code]
The proxy will be available at `/proxy/api/event` when it should be at `/test/proxy/api/event`.

[2022-09-12 10:30] tim-dewit opened #62 "Proxy is not compatible with Next `basePath` configuration option"
Couldn't reopen #61 so I'm making a new issue

Consider this configuration:
[code]
The proxy will be available at `/proxy/api/event` when it should be at `/test/proxy/api/event`.

[2022-09-12 11:13] 4lejandrito commented on #62
Yeah you're right, I forgot that use case. I'll fix it tonight. Thanks!

[2022-09-12 12:30] 4lejandrito commented on #62
Published as `next-plausible@3.6.1`. Hopefully this time it'll work.

[2022-09-12 12:30] #62 closed

[2022-09-12 14:16] tim-dewit opened #63 "Proxy doesn't work with Next `basePath` configuration option"
Creating another issue since I can't reopen #62.

The proxy still doesn't work when using the `basePath` option.
Reproducible using the following config:
[code]
Using this config, next-plausible will try to call the proxy at `/test/proxy/api/event` but the rewrites include the `basePath` by default, so when Next is passed `/test/proxy/api/event` as the source, it'll make the rewrite source `/test/

[2022-09-12 15:17] 4lejandrito commented on #63
Ouch! I fixed it too fast. Will get back to this later today. Thanks for your patience @tim-dewit!

[2022-09-12 19:53] #63 closed

[2022-09-12 19:53] 4lejandrito commented on #63
Published as `next-plausible@3.5.2`. 🤞

[2022-09-13 05:26] tim-dewit commented on #63
Seems to work great now. Thanks for all the help! :tada:

[2022-10-02 17:08] alvarlagerlof opened #65 "The root value has an unexpected property"
`- The root value has an unexpected property, 0, which is not in the list of allowed properties (amp, analyticsId, assetPrefix, basePath, cleanDistDir, compiler, compress, crossOrigin, devIndicators, distDir, env, eslint, excludeDefaultMomentLocales, experimental, exportPathMap, future, generateBuildId, generateEtags, headers, httpAgentOptions, i18n, images, onDemandEntries, optimizeFonts, output,

[2022-10-03 11:35] joakimeliasson opened #67 "Request Header Fields Too Large when using combined with auth0/next-auth"
We are getting 431 (Request Header Fields Too Large) when using next-plausible and auth0/nextjs-auth. The auth library sets a couple of http only cookies for an encrypted session which are quite large (size 4000 and 3300 respectively).

Is there a setting or a workaround for this problem that you are aware of?

Thanks!

[2022-10-11 17:30] BigglesZX commented on #54
@4lejandrito I wasn't able to create a consistent reproduction for this behaviour unfortunately – the Netlify team think it's something to do with [ISR](https://nextjs.org/docs/basic-features/data-fetching/incremental-static-regeneration) but I'm not using that in my project so I'm not sure... in any case do you think it's worth me PRing a small change to the README to point out the possibility of

[2022-10-14 19:46] grempe commented on #67
I came here for exactly this issue as well.

Requests to `https://www.mydomain.com/proxy/api/event` are throwing a 431 error.

[2022-10-18 14:48] vinibrsl commented on #67
Currently, Plausible's Phoenix server has a default limit on the size of the request headers and cookies. I'm guessing that when proxying the `/api/event` request, all browser cookies are also being sent, and this request does not need any cookies.

We're having internal discussions on increasing the request header permitted size, but in the meantime, could you please check if your request include

[2022-10-18 15:23] grempe commented on #67
If @4lejandrito could engage here it would be helpful.  I have been in direct contact with the leadership at Plausible and @vinibrsl is one of their engineers who is working to help resolve this issue.

They do have a limit on request size which is being reached due to rewriting Next.js requests which send all first party cookies to their servers as well. I can understand why they would not want t

[2022-10-19 13:39] grempe commented on #67
I can confirm that @vinibrsl has made a change to the default header size that was being accepted server side at Plausible.

This resolved the 431 request errors for me. Thank's to their team for being so responsive.

However, this problem should still be addressed in this library as well with a proper request proxy that strips cookies and other extraneous info from the header.  Sending first part

[2022-10-20 07:02] 4lejandrito commented on #67
Hi guys! Sorry for the late response. I'm very busy lately (had a kid). I'm glad to see @vinibrsl has helped on this and, as @grempe said, I'll investigate to see if we can strip the cookies directly from `next-plausible`.

[2022-10-20 07:04] 4lejandrito commented on #65
Hi @alvarlagerlof, can you share how you're using `PlausibleProvider` and `next.config.js` if you use the proxy?

[2022-10-21 21:11] 4lejandrito commented on #67
@vinibrsl have you considered using `fetch` instead of `XMLHttpRequest` in Plausible's js script?. This way you can set `{credentials: 'omit'}` to make sure no cookies are sent.

[2022-10-21 23:49] vinibrsl commented on #67
Thanks for looking into this, @4lejandrito!

We try to make the script lightweight and compatible with most browsers, including old ones e.g. IE 11. That is the main reason we use `XMLHttpRequest` and not the fetch API.

[2022-10-23 16:46] 4lejandrito commented on #67
And isn't there a way to disable cookies in `XMLHttpRequest`? The closest I found is [this](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/mozAnon), but it doesn't look standard. I think this should be somehow solved at the plausible script level, because even if I fix it in `next-plausible` you guys might face the same issue in other stacks.

[2022-10-23 16:56] 4lejandrito commented on #67
I see you have https://plausible.io/docs/script-extensions#scriptcompatjs to support old versions of IE. Maybe you can ship `fetch` by default and use `XMLHttpRequest` in compat mode?

[2022-10-26 13:13] vinibrsl commented on #67
We had an internal discussion with the team, and we decided not to replace `XMLHttpRequest` with `fetch` for now, as we try to be as careful as possible when introducing a breaking change. Most Plausible Cloud sites use the default script which somewhat supports IE. If we change it, they'd have to move to the `compat` version but before that tracking would break for some time. In any case, thanks

[2022-10-26 21:25] 4lejandrito commented on #67
Hi @vinibrsl, thanks for the explanation. I'll add a disclaimer to the README then.

[2022-10-28 07:02] 4lejandrito commented on #65
I'll close this for now. Let me know if you still have issues.

[2022-10-28 07:02] #65 closed

[2022-10-28 07:29] 4lejandrito commented on #67
See https://github.com/4lejandrito/next-plausible/commit/e523e55210d42a292f081a0a079100315f9b0163.

[2022-10-28 15:29] 4lejandrito commented on #67
Found a similar discussion in the next repo and left a comment: https://github.com/vercel/next.js/discussions/36987#discussioncomment-3994103.

[2022-10-28 15:43] 4lejandrito commented on #67
Just committed https://github.com/4lejandrito/next-plausible/commit/ff89de31154b1288899408eeb19da9597e0e0f79 documenting a workaround using middleware, and a test that ensures it works.

I'd love to fix this transparently for every user but nextjs middleware is designed to be static and not composable. In the future I'll explore a way to do this through a custom API route, but still it would have

[2022-10-28 15:43] #67 closed

[2022-11-14 13:24] johanneskares opened #73 "Add `usePlausibleEvent`"
Hi there,

would be great to have a small additional hook that fires an event on the component mount. I tried implementing it, but I got stuck creating the right templates; they don't work properly. Maybe you have a clue.

https://github.com/4lejandrito/next-plausible/pull/72

Johannes

[2022-11-21 07:04] 4lejandrito commented on #73
Hi @johanneskares! Thanks for this. However I prefer to keep the API surface as reduced as possible to avoid maintenance.

Is this something that you have to do in many components?

[2022-11-21 13:20] eBakken opened #74 "withPlausibleProxy with next.js 13 app directory"
I can't get `withPlausibleProxy` working with the new app directory of next.js 13.

Is this not supported yet or am I doing something wrong?

My current workaround is setting the `customDomain` prop in the `PlausibleProvider` and defining rewrites in next.config.js.

[2022-11-21 13:33] 4lejandrito commented on #74
Hi @eBakken! Thanks for reporting. I haven't had the chance of testing with the app directory. I'll leave this issue open until I come up with a solution.

[2022-11-30 15:24] alexandre-dos-reis opened #75 "withPlausibleProxy wrapper not forwarding country"
Hi @4lejandrito and thank you for your excellent work !

I tested the 2 methods described in the docs.

## 1° This config is working properly, I get all the data in my plausible dashboard.

`_app.tsx`
[code]

## 2° This method is working partially, I'm missing the countries data in my plausible dashboard.

`_app.tsx`
[code]

`next.config.js`
[code]

I think this is caused by the second option not